<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="KNet.Core" version="1.0.0" targetFramework="net451" />
  <package id="KNet.Data" version="1.0.0" targetFramework="net451" />
  <package id="KNet.Data.Entity" version="1.0.0" targetFramework="net451" />
  <package id="MySql.Data" version="6.9.9" targetFramework="net451" />
</packages>